[Desktop Entry]
Comment=Carbon Desktop Design Language
Comment[ca]=Llenguatge de disseny per a l'escriptori Carbon
Comment[cs]=Jazyk pro návrh pracovní plochy Carbon
Comment[da]=Carbon sprog til desktop-design
Comment[de]=Carbon-Arbeitsflächendesign
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας Carbon
Comment[en_GB]=Carbon Desktop Design Language
Comment[es]=Lenguaje de diseño del escritorio Oxígeno
Comment[fi]=Työpöydän design-kieli Carbon
Comment[hu]=Carbon asztali designnyelv
Comment[id]=Bahasa Desain Desktop Oksigen
Comment[it]=Linguaggio di progettazione del desktop Carbon
Comment[ko]=Carbon 데스크톱 디자인 언어
Comment[lt]=Carbon darbastalio dizaino kalba
Comment[nb]=Carbon språk for skrivebordsdesign
Comment[nds]=Schriefdisch-Utleggspraak Carbon
Comment[nl]=Ontwerptaal van Carbon bureaublad
Comment[pl]=Tlen - język projektowania pulpitu 
Comment[pt]=Linguagem de Desenho do Ambiente Carbon
Comment[pt_BR]=Linguagem de Desenho da Área de Trabalho Carbon
Comment[ru]=Оформление рабочей среды Carbon
Comment[sk]=Jazyk dizajnu plochy Carbon
Comment[sl]=Kisik, oblikovalni jezik namizja
Comment[sr]=Језик дизајна површи Кисеоник
Comment[sr@ijekavian]=Језик дизајна површи Кисеоник
Comment[sr@ijekavianlatin]=Jezik dizajna površi Kiseonik
Comment[sr@latin]=Jezik dizajna površi Kiseonik
Comment[sv]=Carbon skrivbordskonstruktionsspråk
Comment[tr]=Carbon Masaüstü Tasarım Dili
Comment[uk]=Мова компонування стільниці Carbon
Comment[x-test]=xxCarbon Desktop Design Languagexx
Comment[zh_CN]=Carbon 桌面设计语言
Comment[zh_TW]=Carbon 桌面設計語言
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[ca]=Escriptori;Espai de treball;Aparença;Aparença i comportament;Sortida;Bloqueig;Suspensió;Aturada;Hibernació;
Keywords[de]=Desktop;Arbeitsfläche;Erscheinungsbild;Erscheinungsbild und Verhalten;Abmelden;Sperren;Ruhezustand;Tiefschlaf;Herunterfahren;
Keywords[el]=Επιφάνεια εργασίας;Χώρος εργασίας; Εμφάνιση;Όψη και Αίσθηση;Αποσύνδεση;Κλείδωμα;Αναστολή;Τερματισμός;Νάρκη;
Keywords[en_GB]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[es]=Escritorio;Espacio de trabajo;Apariencia;Aspecto;Cerrar sesión;Bloquear;Suspender;Apagar;Hibernar;
Keywords[fi]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;Työpöytä;Työtila;Ulkoasu;Ulkoasu ja tuntuma;Kirjaudu ulos;Lukitse;Valmiustila;Sammuta;Lepotila;
Keywords[id]=Desktop;Ruang Kerja;Tampilan;Tampilan dan Rasa;Keluar;Kunci;Suspensi;Marikan;Hibernasi;
Keywords[it]=Desktop;spazio di lavoro;aspetto;chiusura della sessione;blocco;sospensione;spegnimento;ibernazione;
Keywords[ko]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;데스크톱;작업공간;모양;로그아웃;잠금;대기모드;종료;끄기;최대절전모드
Keywords[lt]=Darbastalis;Erdvė;Išvaizda;Look and Feel;Atsijungti;užrakinti;sulaikyti;Išjungti;Hibernuoti;
Keywords[nl]=Bureaublad;werkruimte;uiterlijk;uiterlijk en gedrag;afmelden;vergrendelen;onderbreken;afsluiten;slapen;
Keywords[pl]=Pulpit;Przestrzeń robocza;Wygląd;Wygląd i Odczucia;Wylogowanie;Zablokowanie ;Wstrzymanie;Zamknięcie;Hibernowanie;
Keywords[pt]=Ecrã;Área de Trabalho;Aparência;Aparência e Comportamento;Encerrar;Bloquear;Suspender;Desligar;Hibernar;
Keywords[pt_BR]=Área de trabalho;Espaço de trabalho;Aparência;Aparência e Comportamento;Encerrar sessão;Bloquear;Suspender;Desligar;Hibernar;
Keywords[sk]=Plocha;pracovná plocha;vzhľad;nastavenie;odhlásenie;zamknutie;uspanie;vypnutie;hibernácia;
Keywords[sl]=Namizje;delovni prostor;videz;videz in občutek;odjava;zaklep;pripravljenost;izklop;mirovanje;
Keywords[sr]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјава;закључавање;суспендовање;гашење;искључивање;спавање;
Keywords[sr@ijekavian]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјава;закључавање;суспендовање;гашење;искључивање;спавање;
Keywords[sr@ijekavianlatin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjava;zaključavanje;suspendovanje;gašenje;isključivanje;spavanje;
Keywords[sr@latin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjava;zaključavanje;suspendovanje;gašenje;isključivanje;spavanje;
Keywords[sv]=Skrivbord;Arbetsrymd;Utseende;Utseende och känsla;Utloggning;Lås;Viloläge;Avstängning;Dvala;
Keywords[tr]=Masaüstü;Çalışma Alanı;Görünüm;Davranış;Çıkış;Kilitleme;Askıya Alma;Kapatma;Hazırda Bekleme;
Keywords[uk]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;стільниця;робочий простір;воркспейс;вигляд;вигляд і поведінка;вихід;вийти;заблокувати;замкнути;призупинити;вимкнути;приспати;
Keywords[x-test]=xxDesktopxx;xxWorkspacexx;xxAppearancexx;xxLook and Feelxx;xxLogoutxx;xxLockxx;xxSuspendxx;xxShutdownxx;xxHibernatexx;
Keywords[zh_CN]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;桌面;工作空间;外观;观感;注销;锁定;待机;关机;休眠
Name=Carbon
Name[af]=Carbon
Name[ar]=أكسجين
Name[as]=Carbon
Name[ast]=Oxíxenu
Name[be]=Carbon
Name[be@latin]=Carbon
Name[bg]=Carbon
Name[bn]=অক্সিজেন
Name[bn_IN]=Carbon
Name[bs]=Kiseonik
Name[ca]=Carbon
Name[ca@valencia]=Carbon
Name[cs]=Carbon
Name[csb]=Krziseń
Name[da]=Carbon
Name[de]=Carbon
Name[el]=Carbon
Name[en_GB]=Carbon
Name[eo]=Carbon
Name[es]=Oxígeno
Name[et]=Carbon
Name[eu]=Carbon
Name[fa]=اکسیژن
Name[fi]=Carbon
Name[fr]=Carbon
Name[fy]=Carbon
Name[ga]=Carbon
Name[gl]=Carbon
Name[gu]=ઓક્સિજન
Name[he]=Carbon
Name[hi]=आक्सीजन
Name[hne]=आक्सीजन
Name[hr]=Carbon
Name[hsb]=Carbon
Name[hu]=Carbon
Name[ia]=Carbon
Name[id]=Oksigen
Name[is]=Carbon
Name[it]=Carbon
Name[ja]=Carbon
Name[kk]=Carbon
Name[km]=អុកស៊ីហ្សែន
Name[kn]=ಆಕ್ಸಿಜನ್
Name[ko]=Carbon
Name[ku]=Carbon
Name[lt]=Carbon
Name[lv]=Carbon
Name[mai]=आक्सीजन
Name[mk]=Оксиген
Name[ml]=ഓക്സിജന്‍
Name[mr]=ऑक्सीजन
Name[nb]=Carbon
Name[nds]=Carbon
Name[ne]=अक्सिजन
Name[nl]=Carbon
Name[nn]=Oksygen
Name[or]=ଅକ୍ସିଜେନ
Name[pa]=ਆਕਸੀਜਨ
Name[pl]=Tlen
Name[pt]=Carbon
Name[pt_BR]=Carbon
Name[ro]=Carbon
Name[ru]=Carbon
Name[se]=Oksygena
Name[si]=ඔක්සිජන්
Name[sk]=Carbon
Name[sl]=Kisik
Name[sr]=Кисеоник
Name[sr@ijekavian]=Кисеоник
Name[sr@ijekavianlatin]=Kiseonik
Name[sr@latin]=Kiseonik
Name[sv]=Carbon
Name[ta]=ஆக்ஸிஜன்
Name[te]=Carbon
Name[tg]=Carbon
Name[th]=รูปแบบ Carbon
Name[tr]=Carbon
Name[ug]=ئوكسېگىن
Name[uk]=Carbon
Name[uz]=Carbon
Name[uz@cyrillic]=Carbon
Name[vi]=Carbon
Name[wa]=Ocsidjinne
Name[x-test]=xxCarbonxx
Name[zh_CN]=Carbon
Name[zh_TW]=Carbon
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=The Carbon team
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.carbon
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
